<div class="navbar navbar-expand-lg navbar-light bg-light shadow-sm py-0 fixed-top ">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="../MainAssets/logo.png" alt="" width="150">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse z-3" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-auto gap-lg-5 z-3" style=" padding-left: 50px;">
                <li class="nav-item">
                    <a class="nav-link px-5" href="/Home/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-5 " href="/Aprtment-listing/index.html">Discover</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-5 " href="/AboutUs_page/index.html">About Us</a>
                </li>
                
            </ul>
            <div class="d-flex gap-4 ms-auto me-lg-5">
                <button class="btn btn-outline-dark"><a href="/Login_page/index.html" style="text-decoration: none;color:inherit;">Login</a></button>
                <button class="btn purple nav-item"><a href="/SignUp_page/index.html" style="text-decoration: none;color:inherit;">Join Us</a></button>
                
               
            </div>
        </div>
    </div>
</div>